<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="css/login.css" rel="stylesheet">
</head>
<body>
{% block body %}
{% endblock %}
</body>
<script src="js/login.js" type="text/javascript"></script>
</html>
